.mynav{
    position: absolute;
    width: 100%;
    top: 30px;
    padding: 0px 50px;
    z-index: 1;
}

.titre{
    border: 1px solid white;
    padding: 5px;
}

.mynav ul li a{
    margin: 10px;
    color: aliceblue;
}

.c-img-text{
    position: absolute;
    z-index: 1;
}