<div
  id="carouselExampleAutoplaying"
  class="carousel slide colom"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="myImage" class="d-block w-100 imgo" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>VA MI DOUNOU</h5>
        <p>Chez nous, la nourriture n'est pas que de la nourriture.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img [src]="myImage2" class="d-block w-100 imgo" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>VA MI DOUNOU</h5>
        <p>Chez nous, la nourriture n'est pas que de la nourriture.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img [src]="myImage3" class="d-block w-100 imgo" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>VA MI DOUNOU</h5>
        <p>Chez nous, la nourriture n'est pas que de la nourriture.</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container p-5">
  <div class="row rowabout">
    <div class="col-md-6 aboutcol">
      <h4>Noudoudou</h4>
      <p class="pabout">*****</p>
      <p class="p2about">
        Découvrez Noudoudou, une adresse gastronomique alliant tradition et
        créativité. Notre restaurant vous invite à savourer des plats exquis,
        préparés avec des ingrédients frais et de saison. Laissez-vous séduire
        par notre ambiance chaleureuse et notre service attentionné. Une
        expérience culinaire inoubliable vous attend chez Noudoudou.
      </p>
      <span class="aboutspan">A PROPOS</span>
    </div>
    <div class="col-md-6">
      <img [src]="myImage4" class="d-block w-100" alt="..." />
    </div>
  </div>
</div>
<div id="carouselExampleCaptions" class="carousel slide colom">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="myImage" class="d-block w-100 imgoe" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h3>SPECIALITES</h3>
        <p>Chaque plat à une histoire.</p>
      </div>
    </div>
  </div>
</div>
<div class="container p-5">
  <div class="row">
    <div class="col-md-6 menucol">
      <img [src]="myImage" class="d-block w-100 imgspecia" alt="" srcset="" />
      <div class="text text-center platstext">
        <h5>Tchakatchaka</h5>
        <p style="color: #878787">
          Laboriosam pariatur modi praesentium deleniti molestiae officiis atque
          numquam.
        </p>
        <p class="price">5600 FCFA</p>
      </div>
    </div>
    <div class="col-md-6 menucol">
      <img [src]="myImage2" class="d-block w-100 imgspecia" alt="" srcset="" />
      <div class="text text-center platstext">
        <h5>Chawarma</h5>
        <p style="color: #878787">
          Laboriosam pariatur modi praesentium deleniti molestiae officiis atque
          numquam.
        </p>
        <p class="price">3299 FCFA</p>
      </div>
    </div>
    <div class="col-md-6 menucol">
      <img [src]="myImage3" class="d-block w-100 imgspecia" alt="" srcset="" />
      <div class="text text-center platstext">
        <h5>Pizza</h5>
        <p style="color: #878787">
          Laboriosam pariatur modi praesentium deleniti molestiae officiis atque
          numquam.
        </p>
        <p class="price">19000 FCFA</p>
      </div>
    </div>
    <div class="col-md-6 menucol">
      <img [src]="myImage5" class="d-block w-100 imgspecia" alt="" srcset="" />
      <div class="text text-center platstext">
        <h5>Burger</h5>
        <p style="color: #878787">
          Laboriosam pariatur modi praesentium deleniti molestiae officiis atque
          numquam.
        </p>
        <p class="price">3000 FCFA</p>
      </div>
    </div>
    <div class="col-md-6 menucol">
      <img [src]="myImage7" class="d-block w-100 imgspecia" alt="" srcset="" />
      <div class="text text-center platstext">
        <h5>Pain</h5>
        <p style="color: #878787">
          Laboriosam pariatur modi praesentium deleniti molestiae officiis atque
          numquam.
        </p>
        <p class="price">3000 FCFA</p>
      </div>
    </div>
    <div class="col-md-6 menucol">
      <img [src]="myImage8" class="d-block w-100 imgspecia" alt="" srcset="" />
      <div class="text text-center platstext">
        <h5>Poisson chouré</h5>
        <p style="color: #878787">
          Laboriosam pariatur modi praesentium deleniti molestiae officiis atque
          numquam.
        </p>
        <p class="price">3000 FCFA</p>
      </div>
    </div>
  </div>
</div>
<div id="carouselExampleCaptions" class="carousel slide colom">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="myImage8" class="d-block w-100 imgoe" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h3>MENU</h3>
        <p>Ne regardez pas le prix, regardez le plit.</p>
      </div>
    </div>
  </div>
</div>
<div class="container p-5 menucontain">
  <div class="row">
    <div class="col-md-6 menucol">
      <img [src]="myImage" class="d-block w-100 imgomenu" alt="" srcset="" />
      <div class="text platstext">
        <div class="menudiv">

          <div class="menutext">Tchakatchaka vu de bas au citron </div><div class="menuprix">5600 FCFA</div>
        </div>
        <p style="color: #878787">
          Chérie/Coco/chicha
        </p>
      </div>
    </div>
    <div class="col-md-6 menucol">
      <img [src]="myImage2" class="d-block w-100 imgomenu" alt="" srcset="" />
      <div class="text platstext">
        <div class="menudiv">

          <div class="menutext">Chawarma trempé au corps à corps </div><div class="menuprix">3299 FCFA</div>
        </div>
        
        <p style="color: #878787">
          Mouton/Chèvre/chicha
        </p>
      </div>
    </div>
    <div class="col-md-6 menucol">
      <img [src]="myImage3" class="d-block w-100 imgomenu" alt="" srcset="" />
      <div class="text platstext">
        <div class="menudiv">

          <div class="menutext">Pizza réchauffé à la cuillere </div><div class="menuprix">19000 FCFA</div>
        </div>
        
        <p style="color: #878787">
          Vroum/Fétri/chicha
        </p>
      </div>
    </div>
    <div class="col-md-6 menucol">
      <img [src]="myImage5" class="d-block w-100 imgomenu" alt="" srcset="" />
      <div class="text platstext">
        <div class="menudiv">

          <div class="menutext">Burger sauté au petit pi </div><div class="menuprix">3000 FCFA</div>
        </div>
        
        <p style="color: #878787">
          Pain/Fétri/chicha
        </p>
      </div>
    </div>
    <div class="col-md-6 menucol">
      <img [src]="myImage7" class="d-block w-100 imgomenu" alt="" srcset="" />
      <div class="text platstext">
        <div class="menudiv">

          <div class="menutext">Pain nutella vidangé </div><div class="menuprix">5000 FCFA</div>
        </div>
        
        <p style="color: #878787">
          sardine/Fétri/koklo
        </p>
      </div>
    </div>
    <div class="col-md-6 menucol">
      <img [src]="myImage8" class="d-block w-100 imgomenu" alt="" srcset="" />
      <div class="text platstext">
        <div class="menudiv">

          <div class="menutext">Poisson chouré au chocolat </div><div class="menuprix">3000 FCFA</div>
        </div>
        
        <p style="color: #878787">
          Adéme/Fétri/chicha
        </p>
      </div>
    </div>
  </div>
</div>
<div id="carouselExampleCaptions" class="carousel slide colom">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="myImage4" class="d-block w-100 imgoe" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h3>RESERVATION</h3>
        <p>Une table, un ventre bien rempli</p>
      </div>
    </div>
  </div>
</div>
