.homec{
    position: relative;
}
.colom{
    background-color: black;
}
.imgo{
    width: 100%;max-height: 100vh;object-fit: cover;
    opacity: 0.7;
}

.imgoe{
    width: 100%;max-height: 50vh;object-fit: cover;opacity: 0.7;
}

.aboutcol{
    text-align: center;
    margin-bottom: 35px;
}
.pabout{
    color: #f9a32f;
}
.aboutspan{
    border-bottom: 2px solid black;
}
.p2about{
    color: #afb1b3;
}
.rowabout{
    display: flex;
    align-items: center;
}
.imgomenu{
    max-width: 200px;max-height: 400px;object-fit: cover;width: 100%;
}
.menucol{
    display: flex;margin-bottom: 10px;
}