<div
  class="container-fluid"
  style="background: #f3910f; align-content: center"
>
  <div class="row" style="padding: 100px">
    <div class="col-md-6">
      <h5>Adresse</h5>
      <div class="row" style="color: white; font-weight: bold">
        <div class="col-md-6 mb-2">BP : 25 arounakou</div>
        <div class="col-md-6 mb-2">noudroudrou&#64;gmail.com</div>
        <div class="col-md-6">Adidogomé, Lomé (TOGO)</div>
        <div class="col-md-6 mb-2">00228 25 36 96 85/14 25 36 98</div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <h5>Heures d'ouverture</h5>
      <div class="row" style="color: white; font-weight: bold">
        <div class="col-md-6 mb-2">Lundi 7h-16h</div>
        <div class="col-md-6 mb-2">Mardi 7h-16h</div>
        <div class="col-md-6">Mercredi 7h-16h</div>
        <div class="col-md-6 mb-2">Jeudi 7h-16h</div>
      </div>
    </div>
  </div>
</div>
